### EDA and Cleaning

In [ ]:
import pandas as pd
data = pd.read_excel('Online Retail.xlsx')

data.head()

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [19]:
print("\nMissing Values:")
print(data.isnull().sum())

print("\nNumber of duplicate rows:", data.duplicated().sum() )

Missing Values:
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Number of duplicate rows: 5268

In [20]:
data.shape

(541909, 8)

In [22]:
data = data.drop_duplicates()
data = data.dropna(subset=['CustomerID'])
data.shape

(401604, 8)

In [23]:
# Check unique countries and unique customers
print("\nUnique Customers and Countries:")
print(f"Unique Customers: {data['CustomerID'].nunique()}")
print(f"Unique Countries: {data['Country'].nunique()}")

# Unique products
print("\nUnique Products:")
print(f"Unique Product Codes: {data['StockCode'].nunique()}")
print(f"Unique Product Descriptions: {data['Description'].nunique()}")

Unique Customers and Countries:
Unique Customers: 4372
Unique Countries: 37

Unique Products:
Unique Product Codes: 3684
Unique Product Descriptions: 3896

In [13]:
data['Country'].nunique()

38

In [24]:
# Check for negative or zero quantities
negative_quantities = data[data['Quantity'] <= 0]
print(f"\nNumber of rows with negative or zero quantities: {negative_quantities.shape[0]}")

# Remove rows with negative or zero quantities
data = data[data['Quantity'] > 0]
print(f"Dataset after removing rows with negative or zero quantities: {data.shape}")

Number of rows with negative or zero quantities: 8872
Dataset after removing rows with negative or zero quantities: (392732, 8)

In [25]:
# Check the country distribution
print("Country Distribution:")
print(data['Country'].value_counts())

Country Distribution:
Country
United Kingdom          349227
Germany                   9027
France                    8327
EIRE                      7228
Spain                     2480
Netherlands               2363
Belgium                   2031
Switzerland               1842
Portugal                  1453
Australia                 1184
Norway                    1072
Italy                      758
Channel Islands            747
Finland                    685
Cyprus                     603
Sweden                     450
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     245
Unspecified                241
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     17
Saudi Arabia                 9
Name: count, dtype: int64

In [38]:
# Handle "Unspecified" countries by dropping those rows
data = data[data['Country'] != 'Unspecified']
data = data[data['Country'] != 'European Community']
print(f"Dataset after removing 'Unspecified' countries: {data.shape}")

Dataset after removing 'Unspecified' countries: (392431, 8)

In [39]:
# Print unique countries
data['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Finland',
       'Austria', 'Greece', 'Singapore', 'Lebanon',
       'United Arab Emirates', 'Israel', 'Saudi Arabia', 'Czech Republic',
       'Canada', 'Brazil', 'USA', 'Bahrain', 'Malta', 'RSA'], dtype=object)

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392431 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392431 non-null  object
 1   StockCode    392431 non-null  object
 2   Description  392431 non-null  object
 3   Quantity     392431 non-null  int64
 4   InvoiceDate  392431 non-null  datetime64[ns]
 5   UnitPrice    392431 non-null  float64
 6   CustomerID   392431 non-null  float64
 7   Country      392431 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 26.9+ MB

In [44]:
data.to_excel("cleaned-data.xlsx", index=False)